.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
}

.nav__katalog-btn {
    height: 34px;
    padding: 0 20px;
    border-radius: 4px;
    border: none;
    color: var(--bg-py);
    background: #eaeaf9;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}
.nav__search {
    height: 34px;
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
}
.nav__search input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 4px 0 0 4px;
    text-indent: 12px;
}
.nav__search button {
    width: 80px;
    border: none;
    outline: none;
    border-radius: 0 4px 4px 0;
    font-size: 18px;
}
.nav__links {
    display: flex;
    gap: 24px;
}
.nav__link {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 10px;
    transition: 0.3s;
    border-radius: 5px;
}
.nav__cart {
    position: relative;
    padding: 0px 20px;
}
.nav__cart > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    width: 15px;
    height: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-py);
    color: #fff;
    border-radius: 2px;
}
.nav__link:hover {
    background: #eee;
}
.nav__link svg {
    font-size: 20px;
}
.nav__link:first-child {
    display: none;
}
.nav__have__pro {
    width: 35%;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    box-shadow: 0px 5px 10px #0000016f;
    position: absolute;
    right: 0;
    top: 49px;
    z-index: 10;
    border-radius: 5px;
}

.nav__have__pro__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 60px;
    cursor: pointer;
    transition: 0.2s;
}
.nav__have__pro__card:hover {
    background: #efefef;
}
.nav__have__pro__card > img {
    width: 80px;
    height: 40px;
    object-fit: cover;
    margin-right: 20px;
}
.nav__have__pro__card > svg {
    font-size: 22px;
    cursor: pointer;
    transition: 0.2s;
    color: #757575;
}
.nav__have__pro__card > svg:hover {
    color: #000;
}
.nav__have__pro__card > div {
    flex: 1;
}
.nav__have__pro__card > div p {
    font-size: 14px;
}

.nav__have__pro__order {
    width: 90%;
    height: 35px;
    background: var(--bg-py);
    color: #fff;
    margin: 10px auto;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.nav__bottom {
    padding: 10px 10px;
    display: flex;
    gap: 20px;
    color: #555;
    overflow: auto;
}
.nav__bottom span {
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    color: #606060;
    padding: 8px 5px;
}
.nav__bottom span::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #222;
    bottom: 0px;
    left: 0;
    transition: 0.3s;
}
.nav__bottom span:hover {
    color: #222;
}
.nav__bottom span:hover::after {
    width: 100%;
}

.nav-dropdown-panel {
    width: 100%;
    background: #fff;
    height: 0;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 10;
    overflow: hidden;
}
.nav-dropdown-panel.active {
    height: calc(100vh - 300px);
    overflow: visible;
    transition: 0.4s;
}
.nav-dropdown-panel-shadow {
    position: absolute;
    bottom: -200px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #00000070;
    transition: 0.3s;
    transition-delay: 0.4s;
}

@media screen and (max-width: 990px) {
    .nav__link:first-child {
        display: flex;
    }
    .nav__links {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        justify-content: space-evenly;
        border-top: 1px solid #ddd;
        align-items: center;
        background: #fff;
        z-index: 11;
    }
    .nav__link {
        flex-direction: column;
    }
    .nav__link span {
        font-size: 12px;
    }
    .nav__have__pro {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .navbar {
        flex-wrap: wrap;
        height: auto;
        gap: 10px;
        justify-content: space-between;
        padding: 10px 20px;
    }
    .nav__katalog-btn span {
        display: none;
    }
    .nav__search {
        flex: none;
        width: 100%;
    }
}
